* {
    transition: all 0.3s;
}

ul {
    width: 100vh;
    height: 400px;
    overflow: auto;
}

li {
    text-align: center;
}

.grid-mar {
    margin-bottom: 30px;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}

.scrollable {
    overflow: hidden;
    height: 100vh;
}